:root {
  --dark-blue: #0D1013ff;
  --soft-green: #A9D8C0ff;
  --light-yellow: #FFB575ff;
  --hard-red: #843526ff;
  --nice-orange: #D34D35ff;
  --jasper: #D34D35ff;
  --burnt-umber: #843526ff;
}

body {
  padding-top: env(safe-area-inset-top);
}


.bg-light-yellow {
  background-color: var(--light-yellow);
}

.bg-soft-green {
  background-color: var(--soft-green);
}

.bg-hard-red {
  background-color: var(--hard-red);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-nice-orange {
  background-color: var(--nice-orange);
}

.color-light-yellow {
  color: var(--light-yellow);
}

.color-soft-green {
  color: var(--soft-green);
}

.color-hard-red {
  color: var(--hard-red);
}

.color-dark-blue {
  color: var(--dark-blue);
}

.color-nice-orange {
  color: var(--nice-orange);
}

.app {
  height: 100vh;
}

.content {
  height: 100%;
}

main {
  height: calc(100% - 246px);
}

.album-overlay {
  background-color: rgba(255, 181, 117, 0.5);
  overflow: hidden;
}

.splash-screen {
  height: 100vh;
  z-index: 1050;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.1s linear 0.1s;
}

.carousel-item {
  width: 100%;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.cover-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -50%);
  background-image: url('/funk-01.jpeg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#splash-screen.hidden {
  opacity: 0;
}

h1 {
  font-weight: 700;
}

.header {
  background-color: var(--light-yellow);
  color: var(--dark-blue);
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.overlay-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.mediacontrols {
  height: 140px;
  background-color: var(--light-yellow);
  padding: 5px;
}

.media-button {
  position: relative;
  width: 80px;
  height: 80px;
  top: -40px;
  background-color: #e65525;
  border-radius:50%;
  
}

.image-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* Audio Player */

.audio-container {
  background-color: var(--nice-orange);
  border-radius: 15px;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 15px 15px;
  z-index: 10;
  opacity: 90%;
}

.img-container {
  position: relative;
  width: 110px;
  top: 10px;
}


.img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}



.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.position {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--light-yellow);
}

.action-btn {
  border: 0;
  color: var(--light-yellow);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn:hover {
  color: var(--hard-red);
}

.action-btn-big {
  color: var(--light-yellow);
  font-size: 20px;
  font-size: 30px;
}

.action-btn-big:hover {
  color: var(--hard-red);
}

.action-btn:focus {
  outline: none;
}

@keyframes width-animation {
  from {
  width: 0;
  }
  to {
  width: 100%;
  }
}

#loadingProgress {
    animation-name: width-animation;
    animation-duration: 3s;
}

